<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>PetLar</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="wrapper-header">
                <div class="logo">
                    <span>PETLAR</span>
                </div>

                <nav>
                    <ul>
                        <li><a href="/">Todos</a></li>
                        <li><a href="/dogs">Cachorros</a></li>
                        <li><a href="/cats">Gatos</a></li>
                    </ul>
                </nav>

                <div class="search-bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <form method="GET" action="/search">
                        <input type="search" name="q" placeholder="Qual pet você gostaria?" />
                    </form>
                </div>
            </div>
        </div>
        
    </header>